

.admin-content{
    text-align: left;
    margin: 100px;
    
}

.list-post{
    text-align: left;
    
}

body{
    background-color: #d9ddde;
}

.post-section{
    background-color: #e3e1e1;
    border-radius: 10px;
}

.content-post{
    margin-top: 20px;
}

.post-title{
    font-size: 24px;
    font-style: italic;
}
nav{
    font-size: 25px;
}

.nav-link:hover{
    background-color: #cedbd2;
    cursor: pointer;
    
}

#btn-create-post{
    color: azure;
    font-style: normal;
    text-decoration: none;
}


